// Font types
// ----------------------------------------------------
$fontfamily1: 'Raleway', sans-serif;
$fontfamily2: 'Open Sans', sans-serif;
// ----------------------------------------------------

// Colors
// ----------------------------------------------------
// Accents
$accentcolor1: #08A6E4;
$accentcolor2: #55DFB4;
$accentcolor3: #EB476E;
// Background
$bgrcolor1: #fff;
$bgrcolor2: #F7F7F7;
// Font
$fontcolor1: #707070;
$fontcolor2: #fff;
$placeholdercolor1: #A5A5A5;
$fontcolor-set-package-menu: #222;
// Shadows
$shadowcolor1: rgba(8, 166, 228, 0.445);
$shadowcolor2: #EB476E29;
$shadowcolor3: #00000029;
// Other
$bgrhovercolor1: rgb(221, 226, 230);
// ----------------------------------------------------

// Properties
// ----------------------------------------------------
// Main container
$main-container-width: 900px;
$main-container-padding: 0 (25px / 2);
// Form elements
$form-section-width: 440px;
$form-font-size-standard: 0.81rem;
$input-padding-standard: 10px 20px;
// Calculation elements
$calculate-section-width: 385px;
$calculate-font-size-standard: 0.875rem;
// Border radius
$radius-standard: 6px;
$radius-small: 4px;
// Margins
$margin-bottom-standard: 30px;
// ----------------------------------------------------