.header__button {
    display: block;
    width: 310px;
    padding: 24px 0;
    background: $accentcolor1;
    border-radius: 40px;
    border: 2px solid $fontcolor3;
    font-weight: 700;
    color: $fontcolor3;
    text-align: center;

    @include tablet {
        width: auto;
        padding: 24px 157px;
        text-align: unset;
    }

    &:hover {
        border: 2px solid $accentcolor1;
        color: $accentcolor1;
        background: $bgrcolor1;
        transition: 0.2s;
    }

    &:active {
        @extend .header__button:hover;
        box-shadow: inset 0 0 5px 3px $btnclickshadow;
    }
}