header {
    @extend main;
    margin-top: 52px;
    margin-bottom: 52px;

    @include desktop {
        margin-top: 93px;
    }

    h1 {
        font-size: 2.25rem;
        font-family: $fontfamily1;
        text-align: center;
    }
}