.section__icons-block {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @include tablet {
        padding-bottom: 150px;
        flex-direction: row;
    }
}

.section__icons-block__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    @include tablet {
        margin-top: 0;
    }
}

.icon__img-block {
    height: 63px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 63px;
        height: 63px;
        background: $accentcolor2;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
        transform: translateX(-9px);
    }
}
    
.icon__img-block--b::before {
    background: $accentcolor1;
}

.icon__img-block--c::before {
    background: $accentcolor3;
}

.icon__img-block__img {
    height: 52px;
    position: relative;
    z-index: 1;
    transform: translate(14px, -3px);
}

.icon__img-block__img--b {
    @extend .icon__img-block__img;
    height: 36px;
    transform: translateX(14px);
}

.icon__img-block__img--c {
    @extend .icon__img-block__img;
    height: 48px;
    transform: translateX(14px);
}

.icon__title {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: 22px;
}

.icon__text {
    width: 130px;
    font-size: 1.06rem;
    color: $fontcolor2;
    line-height: 1.2rem;
    text-align: center;
}