.section__pricing-content {
    padding-bottom: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.section__pricing-content__pricing-block {
    max-width: 372px;
    width: 95%;
    min-width: 295px;
    height: auto;
    padding: 10px 10px 50px 10px;
    border-radius: 18px;
    border: 1px solid $accentcolor2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    @include tablet {
        width: 372px;
        min-width: auto;
        height: 461px;
        padding: 38px 38px 81px 38px;
        flex-direction: column;
    }
}

.section__pricing-content__pricing-block--b {
    @extend .section__pricing-content__pricing-block;
    border: 1px solid $accentcolor4;
    box-shadow: 5px 10px 27px $pricingbox;
    transform: scale(1.09, 1.09);
    margin: 65px 0;

    h3 {
        transform: scale(0.91);
    }

    @include tablet {
        margin: 0 40px;
    }
}

.section__pricing-content__pricing-block--c {
    @extend .section__pricing-content__pricing-block;
    border: 1px solid $accentcolor3;
}

.pricing-block__header {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(10px);

    @include tablet {
        width: auto;
        display: block;
    }
}

.pricing-block__header__title {
    font-size: 1.25rem;
    font-weight: 800;
    color: $fontcolor4;
    margin-bottom: 10px;

    @include tablet {
        margin-bottom: 20px;
    }
}

.pricing-block__header__price {
    font-family: $fontfamily2;
    font-size: 2.88rem;
    font-weight: 300;
    color: $accentcolor2;
}

.pricing-block__header__price--b {
    @extend .pricing-block__header__price;
    color: $accentcolor4;
}

.pricing-block__header__price--c {
    @extend .pricing-block__header__price;
    color: $accentcolor3;
}

.pricing-block__header__limitation {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 800;
    color: $fontcolor4;

    @include tablet {
        margin-top: 17px;
    }
}

.pricing-block__descript {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
        width: auto;
        align-items: stretch;
    }
}

.pricing-block__descript__row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.row__checkbox {
    margin-right: 10px;
}

.row__text {
    font-family: $fontfamily2;
    font-size: 0.88rem;
}