.total {
    width: 180px;
    height: 38px;
    background: $accentcolor1;
    padding: 0 19px 0 15px;
    border-radius: $radius-standard;
    box-shadow: 0px 3px 6px $shadowcolor3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}
#total-price {
    font-size: 1.11rem;
    font-weight: 600;
}