html {
    scroll-behavior: smooth;
}

body {
    color: $fontcolor1;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: $main-container-width;
    margin: 0 auto;
    padding: 0 15px;
}