// Font types
// ----------------------------------------------------
$fontfamily1: 'Raleway', sans-serif;
$fontfamily2: 'Open Sans', sans-serif;
// ----------------------------------------------------

// Colors
// ----------------------------------------------------
// Accents
$accentcolor1: #08A6E4;
$accentcolor2: #FB3B64;
$accentcolor3: #55DFB4;
$accentcolor4: #07ACE6;
$accentcolor5: #EB476E;
// Background
$bgrcolor1: #fff;
$bgrcolor2: #F7F7F7;
// Font
$fontcolor1: #000;
$fontcolor2: #A5A5A5;
$fontcolor3: #fff;
$fontcolor4: #13253B;
$fontcolor5: #707070;
// Shadows
$btnclickshadow: rgba(0, 0, 0, .5);
$navshadow: #00000029;
// Glowing
$pricingbox: #07ACE649;
$sendbtn: #07ACE629;
// Borders
$inputborder: #95989A;
// ----------------------------------------------------

// Properties
// ----------------------------------------------------
// Containers
$main-container-width: 1382px; // dodano 30px na paddingi boczne (po 15px)
$narrow-container-width: 1154px; // dodano 30px na paddingi boczne (po 15px)
// ----------------------------------------------------